body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: sans-serif;
}

#settings {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 5vh;
}

#innerDiv {
    display: none;
    position: absolute;
    left: -50%;
    width: 100%;
    height: 90vh;
    padding: 20px;
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#gameDisplay {
    height: 100vh;
}